#a-container{
    box-sizing: border-box;
    padding: 80px 80px 30px;
    width: 100%;
    height: 100%;
}
.activity-preview{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
}
.activity-title{
    background-color: #343959;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}
.activity-image{
    box-sizing: border-box;
    background-color: black;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.activity-description{
    background-color: #3c4161;
    width: 100%;
    height: 220px;
    box-sizing: border-box;
    padding: 20px;
}
.caption{
    display: flex;
    flex-wrap: wrap;
}
.preview{
    margin-right: 10px;
    white-space: pre;
}
.activity-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #232842;
    padding: 0 25px;
    box-sizing: border-box;
}
.activity-detail-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
.activity-detail-col{
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.value{
    display: flex;
    justify-content: center;
    font-weight: normal;
}
.activity-panel{
    width: 100%;
    height: 80px;
    background-color: #3c4161;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.myButton_small, .panel-button{
    color: ghostwhite;
    font-weight: bold;
    background-color: #090d31;
    width: 200px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
}
