<style>
            body{
                background-color: white
            }
            .container{
                max-width:1500px;
                margin:auto;
                font-family:'Times New Roman', Times, serif;
            }
            .month{
                text-align: center;
                background:blue;
                font-size:2em;
                letter-spacing:3px;
                color:black;
                padding:25px;
                border:1px solid black;
            }
            table, th{
                width:100%;
                table-layout:fixed;
                text-align:center;
                font-size:50px;
                padding:20px;
                border-collapse:collapse;
                border:1px solid black;
                background:lightblue;
            }
            td{
                width:100%;
                table-layout:fixed;
                text-align:left;
                font-size:50px;
                padding:20px;
                border-collapse:collapse;
                border:1px solid black;
                background:white;
            }
            td:hover{
                background: lightslategray;
            }
        </style>
