<style>
        body{
                background-color: lightgrey;
            }
        fieldset{
            text-align: center;
            background: lightblue;
        }
        label{
            text-align: center;
        }
        button{
            font-size: 20px;
            background: white;
        }
        button:hover{
            background: lightskyblue;
        }
        a{
            color: maroon;
        }
    </style>
