.team
{
    margin: 75px 0;
}
h1
{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}
h1:after
{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.profile
{
    margin-top: 25px;
}
.profile .img-box
{
    opacity: 1;
    display: block;
    position:relative;
}

.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.profile h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
 
