.i-container{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.selection{
    display: flex;
    flex-direction: column;
    background-color: #343959;
}
.selection div{
    width: 150px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}
.selection div:hover{
    background-color: #656C8F;
    transition: all 300ms;
}
.content{
    width: 100%;
    height: 100%;
}

.content>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.myContent>*{
    display: flex;
    justify-content: center;
}


