.clearfloat{
    clear: both;
}

html,body{
    margin: 0;
    background: yellow;
    height: 100%;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    font-size: 80px;
    height: 180px;
    
}

#ARF{
    position: fixed;
    margin-left: 45%;
    top: 70%;
    background-color: blue;
    
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#message{
    position: fixed;
    margin-left: 45%;
    top: 85%;
    background-color: blue;
    
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: antiquewhite;
    margin:0;
}

#container{
    margin-top: 40px; 
    width: 1600px;
    height: 100%;
    background-color: sandybrown;
    display: flex;
}

#left{
    box-sizing: border-box;
    font-size: 25px;
    display:flex;
    flex-direction: column;
    position:absolute;
}

.panel{
    display: flex;
    background-color:antiquewhite;
}
.panel-icon{
    box-sizing: border-box;
    height: 120px;
    text-align: center;
    padding: 20px 20px;
    border-bottom: 1px lightseagreen solid;
    
}
.panel-title{
    box-sizing: border-box;
    background-color: green;
    color: aliceblue;
    position: relative;
    height: 120px;
    flex-basis: 300px;
    width: 300px;
    padding: 10px;
    text-align: center;
    padding-top: 25px;
    border-radius: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: lightseagreen;
}

#right{
    box-sizing: border-box;
    background-color: azure;
    height: 100%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.media{
    box-sizing: border-box;
    padding: 80px 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.bar{
    width:100%; 
    display:flex;
}

.m-title{
    background-color: greenyellow;
    width: 30%;
    height: 100px;
    box-sizing: border-box;
}
.m-media{
    background-color: white;
    width: 70%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}