<!DOCTYPE html>
<html>
    <body>
        <div class="arf" v-if="arf">* * * * *</div>
    </body>
    <style>
        .arf{
            position: fixed;
            background-color: #343959;
            height: 330px;
            width: 250px;
            right:100px;
            bottom: 10px;
            border-radius: 20px;
            box-shadow: 0 4px 5px 0 rgba(0,0,0,0.6);
            animation-name: out;
            animation-duration: 250ms;
            box-sizing: border-box;
            padding:10px 20px;
            color: white;
        }
    </style>
</html>