#m-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.media{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.m-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    box-sizing: border-box;
}
.m-box{
    display: flex;
    width: 100%;
    justify-content: center;
}
.m-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 20px 0;
    box-sizing: border-box;
}
.m-activity{
    border-radius: 10px;
    height: 460px;
    overflow-y: auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
}
.bar{
    width:100%;
    display:flex;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #343959;
    color: white;
}

.m-title{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    color: #343959;
    font-size: 20px;
    font-weight: bold;
}
.m-media{
    background-color: #343959;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
}
.activity-title{
    width: 190px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.bar:hover{
    background-color: #f0f2f5;
    color: black;
}
.m-button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    color: white;
    background-color: #656c8f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}
