#m-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.media{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.m-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    box-sizing: border-box;
}
.m-box{
    display: flex;
    width: 100%;
    justify-content: center;
}
.m-box:hover{
    filter: contrast(200%);
    transition: all 0.3s
}

.m-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 20px 0;
    box-sizing: border-box;
}
.m-activity{
    height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
    background-color: #abbcc9;
    margin-bottom: 60px;
    position: relative;
}
.bar{
    width:100%;
    display:flex;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #343959;
    color: white;
    cursor: pointer;
    text-align: center;
}

.m-title{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    color: #343959;
    font-size: 20px;
    font-weight: bold;
}
.m-media{
    background-color: #343959;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.3);
    align-items: center;
}
.media-icon{
    filter: invert(100%);
    height: 100px;
}
.sign{
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #343959;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    margin-left: -50px;
}
.sign-icon{
    filter: invert(100%);
    height: 30px;
    width: 30px;
}
.activity-title{
    width: 190px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.bar:hover{
    background-color: #f0f2f5;
    color: black;
}

/*transition*/
.rotate-to-left-enter-active, .rotate-to-left-leave-active {
    transition: all 550ms ease-out;
}
.rotate-to-left-enter {
    transform: perspective(600px) rotateY(-180deg);
    transform-origin: right;
}
.rotate-to-left-enter-to {
    transform: perspective(600px) rotateY(0deg);
    transform-origin: right;
}
.rotate-to-left-leave {
    opacity: 1;
}
.rotate-to-left-leave-to {
    opacity: 0;
}
