#media-management{
    width: 800px;
    margin:50px 80px;
}
.mm-header{
    width: 240px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #343959;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mm-box{
    height: 350px;
    width: 100%;
    border-radius: 15px;
    background-color: #343959;
    margin: 30px 0;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.mm-box-left{
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview{
    background-color: black;
    width: 435px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.preview-arrow{
    color: white;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.5;
    margin: 0 5px;
    cursor: pointer;
}
.preview-arrow:hover{
    opacity: 1;
    transition: all 0.2s;
}
.mm-box-right{
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    justify-content: center;
}
.myButton{
    padding-left: 37px;
}
.activity-selection{
    margin-bottom: 20px;
    width: 150px;
}
.myButton_small{
    margin-bottom: 20px;
}

.videoBackground{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    z-index: 10000;
}
.videoShow{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10001;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.playvideo{
    position: fixed;
    width: 800px;
    top: 50%;
    left: 50%;
}
.exit{
    filter: invert(100%);
    position: fixed;
    right: 20px;
    top: 20px;
    height: 30px;
    width: 30px;
    z-index: 10001;
    cursor: pointer;
}
